<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yogi Tea Bag</title>
</head>
<body>

    <h2>Your Daily Teabag</h2>
    <h3>{{ sentence }}</h3>
    <button type="submit"  onClick="refreshPage()">new teabag</button>
    <script>
    function refreshPage(){
        window.location.reload();
    }
    </script>

</body>
</html>