<!DOCTYPE html>
<head>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
h2 {
  text-align: center;
}
p {
  text-align: center;
}
body {
    background-color: violet;
    color: darkorchid;
}
</style>

</head>

<body>
    <h2>Your Daily Tea Bag Platitude</h2>
    <p>{{  sentence  }}</p>
    <div>
        <input type="button" value="new tea bag" onClick="refreshPage()" style="display: block; margin: 0 auto;">
    </div>

<script>
function refreshPage(){
    window.location.reload();
}
</script>

</body>
</html>


