<!DOCTYPE html>
<head>

<style>
h2 {
  text-align: center;
}
p {
  text-align: center;
}
body {
    background-color: violet;
    color: darkorchid;
}
</style>

</head>
<body>
    <h2>Your Daily Teabag Platitude</h2>
    <p>{{  sentence  }}</p>
    <button type="submit"  onClick="refreshPage()">New Teabag</button>
<script>
function refreshPage(){
    window.location.reload();
}
</script>
</body>
</html>


